h1 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
  }
.col {
display: flex;
justify-content: center;
}
.msn {
display: flex;
justify-content: center;
}
.btn {
display: flex;
justify-content: center;
}
.btn input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
.datos {
font-size: 20px;
margin-top: 10px;
}
.btn input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
    width: 25%;
  }
  .col input {
    width: 80%;
  }
  .msn textarea {
    width: 50%;
  }
